<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Get Bulk oders or similer orders? Fill the order brief in excel sheet.</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
                    <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link
                        to view all Bootstrap Menu versions.</p>
                    <a href="#" class="card-link">Click away to assist you in placing your order</a>
                    <button href="#" class=" bg-white card-link color"> Order</button>
                </div>
            </div>
        </div>
    </div>
</div>