<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title bgwhite ">Get Bulk oders or similer orders? Fill the order brief in excel
                        sheet.</h5>
                    <p class="card-text">If you're wondering about an easy wayto place orderin large number,we provide a
                        way customized just for that.
                        Download our excel sheet, and fill the order brief in the prescribed format and submit.
                    </p>
                    <a href="#" class="card-link">Click away to assist you in placing your order</a>
                    <button href="#" class=" card-link "> Order</button>
                </div>
            </div>
        </div>
    </div>
</div>



<br>

<div class="container">
    <div id="products" class="row view-group">
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Blog/Article</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                From 500</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Newsletter/E-mailer</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                From 1000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Whitepaper</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                             From 2000   </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        e-book</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                From 1000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Report/Guide</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                From 1000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Product Description</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                               From 500</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>